.bg-image{
    background: url('./maxresdefault.jpg') no-repeat;
    background-size: cover;
    width:50%;
    float: left;
    height: 92.6vh;
    position: relative;
}
.KBT{
    position: absolute;
    top: 25%;
    height: 50%;
    width:50%;
    opacity: 0.4;
    left: 8%;
}
.bs{
    font-family: 'Lato' , sans-serif;
    padding: 3vh 2vw;
    /* clear: left; */
    float: left;
    width: 50%;
    background-color: #262626;
    color: white;
    height: 92.6vh;
}
.bs h1{
    padding : 2vh 0;
}
.bs h2{
    padding: 2vh 2vw;
}
.bs p{
    position: absolute;
    bottom: 0;
    right: 52%;
}